.beforeValidation {
  color: red;
}

.afterValidation {
  color: green;
}

.passwordButton {
  background-color: rgb(38, 150, 224);
  color: white;
  border: none;
}

.passwordCondition {
  text-align: left;
  font-size: medium;
}

.input {
  width: 330px;
}

.title {
  text-align: left;
}
