.toggle-switch {
  display: inline-block;
  position: relative;
  user-select: none;
  margin-top: 10px;
}

.toggle-switch label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-switch input {
  display: none;
}

.toggle-switch .slider {
  position: relative;
  cursor: pointer;
  height: 34px;
  width: 70px;
  background-color: #afafaf;
  border-radius: 34px;
}

.toggle-switch .slider:before {
  content: "";
  height: 26px;
  width: 26px;
  background-color: white;
  transition: 0.5s;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
}

.toggle-switch .right-label {
  position: absolute;
  font-size: 10px;
  left: 70px;
  top: 12px;
  color: rgb(0, 0, 0);
  opacity: 1;
  transition: 0.5s;
}

.toggle-switch .left-label {
  position: absolute;
  font-size: 10px;
  top: 12px;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: 0.5s;
}

.toggle-switch input:checked ~ .slider {
  background-color: #000000;
}

.toggle-switch input:checked ~ .slider:before {
  transform: translateX(40px);
}

.toggle-switch input:checked ~ .right-label {
  opacity: 0;
}

.toggle-switch input:checked ~ .left-label {
  opacity: 1;
}

.toggle-switch .slider {
  margin-left: auto;
}

.toggle-switch .right-label {
  left: auto;
  right: 10px;
}

.toggle-switch .left-label {
  left: auto;
  right: 35px;
}
